{% extends 'base.html.twig' %}

{% block title %}Окно работы с записями{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <h1>Добавление\изменение записи</h1>

        {{ form_start(entryForm) }}
        {{ form_row(entryForm.name, {
            label: 'Имя Контакта'
        }) }}
        {{ form_row(entryForm.number, {
            label: 'Телефонный номер'
        }) }}
        {{ form_row(entryForm.description, {
            label: 'Описание'
        }) }}
        {{ form_row(entryForm.priority, {
            label: 'Приоритет(больше-выше в списке)'
        }) }}

        <button type="submit" class="btn">Сохранить</button>
        {{ form_end(entryForm) }}

    </div>

{% endblock %}
