{% extends 'base.html.twig' %}

{% block title %}Телефонный справочник{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">

    {# <h3>Вот это да, индекс загружен!</h3> #}
    {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
    {# <p>Пользователь авторизован</p> #}
    {# {% endif %} #}

    {# {% if is_granted('ROLE_USER') %} #}
    {# <p>Роль: юзер</p> #}
    {# {% endif %} #}

    {# {% if is_granted('ROLE_ADMIN') %} #}
    {# <p>Роль: администратор</p> #}
    {# {% endif %} #}

    <table>
        <tr>
            <th>Наименование</th>
            <th>Телефонный Номер</th>
            <th>Описание</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Кем добавлено</th>
            {% endif %}
{#             <th>Действие</th>#}
{#             <th>Действие</th> #}
        </tr>

        <tr>
            {% for entry in entries %}
        <td>{{ entry.name|e }}</td>
        <td>{{ entry.number|e }}</td>
        <td>{{ entry.description|e }}</td>
        {% if is_granted('ROLE_ADMIN') %}
        <td>{{ entry.owner|e }}</td>
        {% endif %}
{#                <td><form action="{{ path('edit_entry') }}" method="post">#}
{#                    <button type="submit">Редактировать</button>#}
{#                </form>#}
{#                <form action="{{ path('delete_entry') }}" method="post">#}
{#                    <button type="submit">Удалить</button>#}
{#                </form>#}
{#                </td>#}
        {% endfor %}


        </tr>

    </table>
        {# <th:block th:each="pbe : ${PhoneBookEntries}"> #}
        {# <tr> #}
        {# <td th:text="${pbe.name}"/> #}
        {# <td th:text="${pbe.surname}"/> #}
        {# <td th:text="${pbe.phoneNumber}"/> #}
        {# <td th:text="${pbe.email}"/> #}
        {# <div sec:authorize="hasRole('ROLE_ADMIN')"><td th:text="${pbe.authorId}"/></div> #}
        {# <td> #}
        {# <form action="#" th:action="@{'/deletePhoneBookEntry/' + ${pbe.id}}" th:method="get"> #}
        {# <button type="submit" id="submitButton">Удалить</button> #}
        {# </form> #}
        {# </td> #}
        {# <td> #}
        {# <form action="#" th:action="@{'/updatePhoneBookEntry' + ${pbe.id}}" th:method="get"> #}
        {# <button type="submit" id="editButton">Изменить</button> #}
        {# </form> #}
        {# </td> #}
        {# </tr> #}

        {# </th:block> #}



    <form action="{{ path('add_entry') }}" method="post">
        <button type="submit">Добавить</button>
    </form>
</div>
{% endblock %}
