{% extends 'base.html.twig' %}

{% block title %}Телефонный справочник{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <table>
            <tr>
                <th>Наименование</th>
                <th>Номер</th>
                <th>Описание</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Кем добавлено</th>
                {% endif %}
                <th>Действие</th>
            </tr>
            {% for entry in entries|sort((a, b) => b.priority <=> a.priority) %}
            <tr>

                <td>{{ entry.name }}</td>
                <td>{{ entry.number }}</td>
                <td>{{ entry.description }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ entry.owned_by }}</td>
                {% endif %}
                <td>
                    <form action="{{ path('edit_entry', {'id': entry.id }) }}" method="post">
                        <button type="submit">Редактировать</button>
                    </form>
                <td>
                    <form action="{{ path('delete_entry', {'id': entry.id }) }}" method="post">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
                {% endfor %}

            </tr>

        </table>

        <form action="{{ path('add_entry') }}" method="post">
            <button type="submit">Добавить</button>
        </form>

        {% if is_granted('ROLE_ADMIN') %}
            <form action="{{ path('admin') }}" method="post">
                <button type="submit">Админка</button>
            </form>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
            <form action="{{ path('edit_selfuser', {'id': app.user.id }) }}" method="post">
                <button type="submit">Изменить данные текущего пользователя</button>
            </form>
            <form action="{{ path('edit_user_password', {'id': app.user.id }) }}" method="post">
                <button type="submit">Сменить пароль</button>
            </form>
        {% endif %}

        <form action="{{ path('app_logout') }}" method="get">
            <button type="submit">Разлогиниться</button>
        </form>

    </div>
{% endblock %}
